/* mobile-first */
:root {
    /* background for your dark-on-light designs, or the text color of an inverted design. */
    --light-shades: #FCFCFC;
    /* bring attention to design elements by contrasting with the rest of the palette. */
    --light-accent: #9D9E97;
    /*  eye-catching but not harsh. It can be liberally applied to your layout as its main identity. */
    --main-brand-color: #EC9334;
    /* accent color to consider */
    --dark-accent: #63536B;
    /* text color for dark-on-light designs, or as the background for inverted designs. */
    --dark-shades: #1B191D;

    --titleFont: "Teko", sans-serif;
    --accentFont: "Fira Sans Condensed", sans-serif;
    --bodyFont: "Hind Guntur", sans-serif;

    --h1: 550 3.2rem/64px var(--titleFont);
    --h2: 700 3rem/64px var(--accentFont);
    --h3: 450 1.2rem var(--bodyFont);
}

/* Responsive
   dispositivi con larghezza maggiore di 720px
*/

@media screen and (min-width: 720px){
    :root {
        --h1: bold 5.2rem/64px var(--titleFont);
        --h2: 700 3rem/64px var(--accentFont);
        --h3: 450 1.5rem var(--bodyFont);
    } 
}

/* ----------------- */
/*      tag base     */

* {
    margin: 0;
    font-family: var(--primoFont);
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    height: 300%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    background-color: var(--dark-shades);
    
    min-height: 100%;
}

h1,h2,h3 {
    color: var(--light-accent);
}

h1{
    font: var(--h1);
}
h2{
    font: var(--h2);
}
h3{
    font: var(--h3);
}

/* ----------------- */
/*      HEADER     */

.header {
    display: flex;
    
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    margin-top: 15px;

    width: 100%;
}

.header > h1{
    color: var(--light-shades);
    margin-left: 2%;
}

.icona{
    color: var(--main-brand-color)
}

/* ----------------- */
/*      main-section     */

@media screen and (max-width: 720px){
    .main-section{
        background-position: left -200px top -100px;
    }
}

.main-section{
    display: flex;

    background-image: url('./img/motorini.jpg');
    background-repeat: no-repeat;
    background-size: 100vh cover;
    z-index: 0;


    width: 100%;
    height: 100vh;
}

.section-blur{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: block;
    left: 0;
    top: 0;
    content: "";
    opacity: 1;

    background: rgb(27,25,29);
    background: linear-gradient(0deg, rgba(27,25,29,1) 0%, rgba(27,25,29,0.6) 100%);
}

.link{
    padding: 25px 10px 25px 10px;
}

.clickme{
    position: absolute;
    z-index: 2;

    bottom: 3vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40px;
    height: 60px;

    border: solid 0.2em var(--main-brand-color);
    border-radius: 1em;

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
}

/* ----------------- */
/*   chi-sono-section     */

.chi-sono-section{
    display: flex;

    flex-direction: column;
    align-items: stretch;

    overflow: hidden;

    gap: 10px;

    width: 100%;

    text-align: center;

    background-color: var(--light-shades);
}

.chi-sono-section h1,h2,h3{
    color:  var(--dark-shades);
}

.titolo{
    border: 0px;
}

.paragrafo-grande{
    margin-left: 15vw;
    margin-right: 15vw;
}

/* ----------------- */
/*  immagini     */


.immagine{
    display: flex;
    flex-direction: row;

    gap: 10px;
    flex-wrap: nowrap;

    flex: none;
    width: auto;
}

.container-immagine{
    

    flex: none;    
    overflow: hidden;

    border-radius: 1em;
    margin-bottom: 10px;
}



.wrap-img{
    border-radius: 1.7em;
    width: 20em;
    height: 20em;
}

@media screen and (min-width: 720px){
    .wrap-img{
        width: 25em;
        height: 25em;
    }
}

.img{
    object-fit: cover;
    width: 100vh;
    max-width: 100%;
}
